@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Doodle+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Quicksand, sans-serif;
}

body {
  background-color: #ffedfa;
}

#navigation-bar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcbfc7;
  padding: 1.5rem 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 2rem auto;
}
/********************************  Characters Content  ********************************/

#charactersBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7rem;
  gap: 2rem;
  margin-top: 4rem;
}

#leftArrow,
#rightArrow {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #0392dd;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

#leftArrow:hover,
#rightArrow:hover {
  transform: scale(1.2);
  color: #ffd900;
}

#characterContent {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  flex: 1;
}

#characterImage {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#characterImage img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  image-rendering: auto;
  display: block;
}

#characterBio {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  margin-top: 3rem;
}

#characterBio h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.5rem;
  color: #ffd900;
  font-weight: 500;
}

#characterBio p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #0f0e0e;
  line-height: 1.6;
}

/********************************  Last Characters Content Page ********************************/

#characterContent.special-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.9rem; 
  margin-top: -4rem; 
  padding-top: 0;
}

#characterContent.special-layout #characterImage img {
  margin-left: 2rem; 
  max-width: 1000px; 
  height: auto;
}

#characterContent.special-layout #characterBio {
  order: 0;
}

#characterContent.special-layout #characterImage {
  order: 1;
}
