@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Doodle+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Quicksand, sans-serif;
}

.bg-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: url("../images/cover_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -2;
  pointer-events: none;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(171, 239, 253, 0.3);
  z-index: -1;
  pointer-events: none;
}

.newsletterContainer {
  background-color: #ffedfa;
  position: relative;
  z-index: 0;
}

/********************************  Nav Menu  ********************************/

#navigation-bar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 2rem auto;
}

.home #navigation-bar nav {
  background-color: #ffffff;
}

.characters #navigation-bar nav,
.episodes #navigation-bar nav,
.quotes #navigation-bar nav,
.newsletter #navigation-bar nav {
  background-color: #fcbfc7;
}

#menu-container ul.menu {
  display: flex;
  list-style: none;
  gap: 5rem;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

#menu-container ul.menu li.menu-item a {
  text-decoration: none;
  color: #0f0e0e;
}

#menu-container ul.menu li.menu-item.active {
  color: #0392dd;
}

#menu-container ul.menu li.menu-item a:hover {
  color: #0392dd;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 0.5;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.logo .top-text,
.logo .bottom-text {
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  font-weight: 550;
  color: #f8db27;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  -webkit-text-stroke: 1.5px #0392dd;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.logo:hover {
  transform: scale(1.15);
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

/********************************  Main Section  ********************************/

#info-box {
  background-color: #ffe228d8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 3rem auto 0 auto;
  max-width: 1200px;
  min-height: 450px;
  position: relative;
}

#textContent {
  flex: 1;
  max-width: 550px;
}

#textContent h1 {
  font-size: 2.5rem;
  margin-bottom: 2.3rem;
  font-family: "Quicksand", sans-serif;
  color: #0f0e0e;
}

#textContent p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #0f0e0e;
}

#Btns {
  display: flex;
  gap: 1.3rem;
  margin-top: 1.5rem;
}

#Btns button {
  background-color: #0392dd;
  color: whitesmoke;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#Btns button:hover {
  transform: scale(1.05);
  background-color: #0277c3;
}

#image {
  flex: 1;
  display: flex;
  justify-content: center;
}

#image img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
/********************************  Newsletter Section  ********************************/

/********************************  Footer Section  ********************************/

footer {
  background-color: #2eb3f4;
  text-align: center;
  padding: 1rem 1rem;
  font-family: "Poppins", sans-serif;
  color: #0f0e0e;
  margin-top: 3rem;
}

footer .icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

footer .icons a i {
  font-size: 1.3rem;
  color: #0f0e0e;
  transition: transform 0.2s ease, color 0.2s ease;
}

footer .icons a i:hover {
  transform: scale(1.2);
  color: #ffd900;
}

footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: 580;
  color: #0f0e0e;
}
