@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Doodle+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Quicksand, sans-serif;
}

body {
  background-color: #ffedfa;
}

/* Blurred background image */
.blurred-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/characters\ wall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(6px);
  z-index: -2;
  pointer-events: none;
}

.blurred-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(171, 239, 253, 0.25);
  z-index: -1;
  pointer-events: none;
}

#navigation-bar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcbfc7;
  padding: 1.5rem 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 2rem auto;
}

/******************************** Characters Heading ********************************/

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #555;
  text-align: center;
  margin: 30px 0 75px 0;
  padding-top: 50px;
}

/******************************** Character Cards ********************************/

.phrases-container {
  display: flex;
  justify-content: center;
  gap: 3px !important;
  padding: 0 50px;
  flex-wrap: wrap;
}

.character-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  padding: 20px 15px 15px;
  width: 220px;
  height: 260px;
  background-color: #ffedf3;
  border: 2px solid #fcbfc7;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.character-card .profile-pic {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0392dd;
  margin-bottom: 15px;
}

.character-card .character-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0392dd;
  text-align: center;
}

.character-card .character-quote {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  text-align: center;
  min-height: 50px;
  margin-bottom: 10px;
}

.character-card .quote-flip-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f8db27;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.character-card .quote-flip-btn:hover {
  background-color: #0392dd;
}

.character-card .quote-flip-btn i {
  color: #555;
  font-size: 16px;
}

.character-card .quote-flip-btn:hover i {
  color: white;
}

.phrases-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .phrases-container {
    justify-content: center;
  }
  .character-card {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .phrases-container {
    flex-direction: column;
    align-items: center;
  }
}
